
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  body{
    max-width: 1440px;
    margin: 0 auto;
  }
  .header{
   
  }
  
  /* navvar related style */
  .hide{
    display: none;
  }
  .nav-var{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   align-items: center;
   

  }
  .nav-title{
    font-weight: 700;
    font-size: 1.5rem;

    
  }
  
  nav ul li{
    list-style: none;
  }
  nav li a{
    text-decoration: none;
      
  }
  .btn-primary{
    font-weight: 600;
    font-size: 1.25rem;
    background-color: orange;
    color: #FFFFFF;
    padding: 10px 60px 10px 60px;
    border: none;
    border-radius: 12px;
  }
  .nav-link{
    font-weight: 700;
    font-size: 1.25rem;
  }
  #nav-link-1{
    color: orange;
  }
  #nav-link-2{
    color: skyblue;
  }
  #nav-link-3{
    color: #05D4DF;

  }

  #nav-link-4{
    color: #5D58EF;

  }

    
  
  .nav-links{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;

  
  }
  /* banner related style */
  .banner{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner-title{
    font-weight: 700;
    font-size: 3.5rem;
  }
  .banner-description{
    font-weight: 400;
    font-size: 1.25;
    
  }
  #orange{
    color: orange;
  }
  #sky-blue{
    color: skyblue;
  }
  .enroll-btn{
    background-color: black;
    color: #FFFFFF;
    padding: 10px 47px 10px 47px;
    border: none;
    border-radius: 12px;
  }
  .banner-photo{
    width: 100%;
  }
  /* curriculum related style */
  .curriculum{
    max-width: 1440px;
    margin: 0 auto;
    
  }
  .curriculum-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
  }
  .section-title{
    font-weight: 700;
    font-size: 2.9rem;
    text-align: center;
  }
  .box{
    width: 367px;
    
    
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 28.3px 0.94 #000000;
    border-radius: 19px;
  }
  #linear-1{
    background: linear-gradient(to top, #c7d0d4, #DEF5FF);

  }
  #linear-2{
    background: linear-gradient(to top, #DEF5FF, #FFF4DC);
  }
  #linear-3{
    background: linear-gradient(to top, #DEF5FF, #F2E8FF);
  }
  #cs1{
    color: #64C8FF;
  }
  #cs2{
    color: #F0AA00;

  }
  #cs3{
    color: #8700FF;
  }
  .curriculum-title{
    font-weight: 700;
    font-size: 1.5rem;
  }
  .curriculum-description{
    font-weight: 500;
    font-size: 1rem;
  }
  .arrow-container{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .arrow{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    background-color: orange;
    border-radius: 30px;
  }



  /* responsive for small device */
  @media screen and (max-width: 576px){
    .hide{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid orange;
    }
    .HIDE{
        display: none;
    }
    .banner{     
        flex-direction: column-reverse;  
    }
    .banner-content{
        align-items: center;
        text-align: center;

    }
    .banner-title{
      font-size: 2.2rem;
    }
    .curriculum-container{
      flex-direction: column;
    }
    .curriculum-title{
      font-size: 1rem;
    }
    .curriculum-description{
      font-size: 0.8rem;
    }
    .arrow-container{
      display: none;
    }
    
   
    
  }