
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  body{
    max-width: 1440px;
    margin: 0 auto;
  }
  .header{
   
  }
  .marque{
    font-weight: 400;
    font-size: 1rem;
    color: #05D4DF;
  }
  
  /* navvar related style */
  .hide{
    display: none;
  }
  .nav-var{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   align-items: center;
   text-align: center;
  }
  .nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
  .nav-title{
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center; 
  }
  nav ul li{
    list-style: none;
  }
  nav li a{
    text-decoration: none; 
  }
  .btn-primary{
    font-weight: 600;
    font-size: 1.25rem;
    background-color: orange;
    color: #FFFFFF;
    padding: 10px 60px 10px 60px;
    border: none;
    border-radius: 12px;
  }
  .nav-link{
    font-weight: 700;
    font-size: 1.25rem;
  }
  #nav-link-1{
    color: orange;
  }
  #nav-link-2{
    color: skyblue;
  }
  #nav-link-3{
    color: #05D4DF;
  }
  #nav-link-4{
    color: #5D58EF;
  }

  /* banner related style */
  .banner{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .banner-title{
    font-weight: 700;
    font-size: 3.5rem;
  }
  .banner-description{
    font-weight: 400;
    font-size: 1.25;
  }
  #orange{
    color: orange;
  }
  #sky-blue{
    color: skyblue;
  }
  .enroll-btn{
    background-color: black;
    color: #FFFFFF;
    padding: 10px 47px 10px 47px;
    border: none;
    border-radius: 12px;
  }
  .banner-photo{
    width: 100%;
  }
  /* curriculum related style */
  .curriculum{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
  }
  .curriculum-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px; 
  }
  .section-title{
    font-weight: 700;
    font-size: 2.9rem;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .box{
    width: 367px;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 28.3px 0.94 #000000;
    border-radius: 19px;
  }
  #linear-1{
    background: linear-gradient(to top, #c7d0d4, #DEF5FF);
  }
  #linear-2{
    background: linear-gradient(to top, #DEF5FF, #FFF4DC);
  }
  #linear-3{
    background: linear-gradient(to top, #DEF5FF, #F2E8FF);
  }
  #cs1{
    color: #64C8FF;
  }
  #cs2{
    color: #F0AA00;
  }
  #cs3{
    color: #8700FF;
  }
  .curriculum-title{
    font-weight: 700;
    font-size: 1.5rem;
  }
  .curriculum-description{
    font-weight: 500;
    font-size: 1rem;
  }
  .arrow-container{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .arrow{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    background-color: orange;
    border-radius: 30px;
    padding: 17px 19px 22px 22px;
    gap: 10px;
    margin-top: 80px;
    margin-bottom: 60px;
  }

  /* stories related style */
  .stories{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-image: linear-gradient(#FFFFFF, #dbbf8d); 
    margin-top: 80px; 
  }
  .stories img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .stories-container{
   display: flex;
   justify-content: center;
   gap: 50px;
  }
  .our-title{
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 80px;
  }
  .stories-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
  .box-1{
    background-color: #FFFFFF;
    border-radius: 16px; 
  }
  .stories img{
    width: 100%;
  }
  .stories-btn-1{
    font-weight: 500;
    font-size: 1rem;
    background-color: #3CD8E8;
    padding: 15px 19px;
    margin-left: 20px;
    margin-top: -30px;
   display: block;
   border: none;
   z-index: 100;
   position: relative;
    border-radius: 48px;
  }
  .stories-title-1{
    font-weight: 700;
    font-size: 1.5rem;
    padding: 15px 19px;
    margin-left: 20px;
  }
  .stories-description-1{
    font-weight: 500;
    font-size: 1rem;
    padding: 15px 19px;
    margin-left: 20px;
  }
  .box-2{
    background-color: #FFFFFF;
    border-radius: 16px; 
  }
  .stories-btn-2{
    padding: 10px 18px;
    margin-left: 40px;
   margin-top: -30px;
   display: block;
   z-index: 100;
   position: relative;
    font-weight: 500;
    font-size: 1rem;
    border: none;
    color: white;
    background-color: #95B226;
    border-radius: 20px;
  }
  .stories-description{
    font-weight: 700;
    font-size: 1rem;
    margin-left: 40px;
  }
  .box-3{
    background-color: #FFFFFF;
    border-radius: 16px;
  }
  .stories-btn-3{
    padding: 10px 18px;
    margin-left: 40px;
    margin-top: -30px;
   display: block;
   z-index: 100;
   position: relative;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    background-color: #5D58F0;
    border-radius: 20px;
  }
  .box-4{
    background-color: #FFFFFF;
    border-radius: 16px;
  }
  .stories-btn-4{
    padding: 10px 18px;
    margin-left: 40px;
    margin-top: -30px;
   display: block;
   z-index: 100;
   position: relative;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    background-color: #95B226;
    border-radius: 20px;
  }
  .box-5{
    background-color: #FFFFFF;
    border-radius: 16px;
  }
  .stories-btn-5{
    padding: 10px 18px;
    margin-left: 40px;
    margin-top: -30px;
   display: block;
   z-index: 100;
   position: relative;
    color: white;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    background-color: #95B226;
    border-radius: 20px;
  }
  .view-btn{
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    padding: 10px 10px;
    border-radius: 12px;
    background-color: #000000;
    margin-top: 80px;
    margin-bottom: 60px;
  }
  #view-button{
    text-align: center;
  }

  /* footer related style */
  .footer{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    
    background-color: #64C8FF;
  }
  .kids-title{
    font-weight: 700;
    font-size: 3.8rem;
    color: white;
  }
  .kids-description{
    font-weight: 400;
    font-size: 1.25rem;
    color: white;
  }
  .footer-item-1{
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
  }
  .footer-item{
    font-weight: 500;
    font-size: 1.25rem;
    color: white;
  }
  
  /* responsive for small device */
  @media screen and (max-width: 576px){
    .hide{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid orange;
    }
    .HIDE{
        display: none;
    }
    .banner{     
        flex-direction: column-reverse;  
    }
    .banner-content{
        align-items: center;
        text-align: center;
    }
    .banner-title{
      font-size: 2.2rem;
    }
    .curriculum-container{
      flex-direction: column;
    }
    .curriculum-title{
      font-size: 1rem;
    }
    .curriculum-description{
      font-size: 0.8rem;
    }
    .arrow-container{
      display: none;
    }
    .stories-content{
      flex-direction: column;  
    }
    .view-btn{
   margin-top: 20px;
   margin-bottom: 40px;
     font-weight: 500;
     padding: 15px;
    }
    .our-title{
      font-weight: 500;
      font-size: 2rem;
      text-align: center;
    }
    .footer{
      flex-direction: column;
    }
    .kids-title{
      font-size: 2.5rem;
    }
    .stories-content{
      gap: 5px;
      max-width: 550px;
    }
    .box{
      width: 200px;
    }
    .section-title{
      font-size: 1.8rem;
    }
    .stories-content{
    max-width: 400px;
      flex-direction: column;
      align-items: center;
      gap: 5px; 
    }
    .stories-btn-2{
      padding: 6px 11px;
    }
    .stories-btn-3{
      padding: 6px 11px;
    }
    .stories-btn-4{
      padding: 6px 11px;
    }
    .stories-btn-5{
      padding: 6px 11px;
    }
    .fa-solid{
      font-weight: 400;
      font-size: 2rem;
    }
  }